/public/
/repos/kube-prometheus
/repos/prometheus-operator
/resources/_gen/
/static/img
/.hugo_build.lock

# Generated content to ignore (sorted alphabetically)

/content/adopters.md
/content/docs/prologue/*
/content/docs/api-reference/*
/content/docs/beginner/*
/content/docs/advanced/*
/content/docs/kube/*
/content/docs/community/*

!/content/docs/prologue/_index.md
!/content/docs/api-reference/_index.md
!/content/docs/beginner/_index.md
!/content/docs/advanced/_index.md
!/content/docs/kube/_index.md
!/content/docs/community/_index.md