/public/
/repos/kube-prometheus
/repos/prometheus-operator
/resources/_gen/
/static/img

# Generated content to ignore (sorted alphabetically)

/content/adopters.md
/content/docs/kube/developing-prometheus-rules-and-grafana-dashboards.md
/content/docs/kube/exposing-prometheus-alertmanager-grafana-ingress.md
/content/docs/kube/kube-prometheus-on-kubeadm.md
/content/docs/kube/blackbox-exporter.md
/content/docs/kube/deploy-kind.md
/content/docs/kube/monitoring-external-etcd.md
/content/docs/kube/monitoring-other-namespaces.md
/content/docs/user-guides/getting-started.md
/content/docs/user-guides/alerting.md
/content/docs/user-guides/webhook.md
/content/docs/operator/api.md
/content/docs/operator/compatibility.md
/content/docs/operator/custom-metrics-elements.png
/content/docs/operator/design.md
/content/docs/operator/high-availability.md
/content/docs/operator/operator.md
/content/docs/operator/rbac-crd.md
/content/docs/operator/rbac.md
/content/docs/operator/storage.md
/content/docs/operator/strategic-merge-patch.md
/content/docs/operator/thanos.md
/content/docs/operator/troubleshooting.md
/content/docs/prologue/contributing.md
