// Import our base theme

/** Import Bootstrap functions */
@import "bootstrap/scss/functions";

/** Import theme variables */
@import "../../themes/doks/assets/scss/common/variables";

$kubernetes: #3371e3;
$prometheus: #e6522c;

$primary: $kubernetes;
$secondary: $prometheus;

$link-color: $primary;
$link-hover-color: $secondary;

/** Import Bootstrap */
@import "bootstrap/scss/bootstrap";

/** Import theme styles */
@import "../../themes/doks/assets/scss/common/fonts";
@import "../../themes/doks/assets/scss/common/global";
@import "../../themes/doks/assets/scss/common/dark";
@import "../../themes/doks/assets/scss/components/alerts";
@import "../../themes/doks/assets/scss/components/buttons";
@import "../../themes/doks/assets/scss/components/code";
// @import "../../themes/doks/assets/scss/components/syntax";
@import "../../themes/doks/assets/scss/components/comments";
@import "../../themes/doks/assets/scss/components/forms";
@import "../../themes/doks/assets/scss/components/images";
@import "../../themes/doks/assets/scss/components/search";
@import "../../themes/doks/assets/scss/components/tables";
@import "../../themes/doks/assets/scss/layouts/footer";
@import "../../themes/doks/assets/scss/layouts/header";
@import "../../themes/doks/assets/scss/layouts/pages";
@import "../../themes/doks/assets/scss/layouts/posts";
@import "../../themes/doks/assets/scss/layouts/sidebar";


::selection {
  background: lighten($primary, 25%);
}

:root {
  --kubernetes: #3371e3;
  --prometheus: #e6522c;
}

.header-bar {
  border-image-source: linear-gradient(90deg, var(--kubernetes), var(--prometheus), var(--kubernetes));
}

.home .btn-primary:hover {
  background-color: var(--prometheus);
  border-color: var(--prometheus);
}